@media screen and (max-width:600px){

    .container{
     
        background-size: cover;
        background-position: right top, top center;
        
    
    }
    .container .logo .logo-image.logo2{

        display: block;
    }
    .container .logo .logo-image.logo1{

        display:none;
    }
    .container .text-detail{
        text-align: justify;

    }
    .container .text-detail .text-detail-item{
        width:388px;
        text-align: center;
    }
    .container .text-detail .text-detail-item h1{
        font-size: 24px;
        
    }
    .container .text-detail .text-detail-item h4{
        font-size: 18px;
        
    }
    .container .text-detail .text-detail-item h4::before{
margin-top: 15px;
    }
    .container .text-detail .text-detail-item h4::after{
margin-top: 15px;
    }
    
}