*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fahkwang', sans-serif;
}

.container{
   overflow: hidden;
   position: relative;
   width:100%;
   height:100vh;
   background-image: url(./assets/hodver_data.png),url(./assets/Background_1.png);
   background-size: cover;
   background-position:right bottom, right top;
   background-repeat: no-repeat;
  
}


.container .logo .logo-image{
   margin-left: 70px;
   margin-top: 30px;
}
.container .logo .logo-image.logo2{

    display: none;
}


.container .text-detail{
    text-align: center;
   padding-top: 9rem;
   color:#fff;
  
  
  
   
}
.container .text-detail .text-detail-item{
    width:688px;
    height:220px;
  
  padding: 30px;
    margin: 0 auto;
}
.container .text-detail .text-detail-item h1{
    font-weight: 500;
    font-size: 42px;
    animation:  toTop 1.8s ease-in-out forwards;
    -webkit-animation:  toTop 1.8s ease-in-out forwards;
    animation-delay: .4s;
    transform: translateY(35px);
    -webkit-transform: translateY(35px);
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -o-transform: translateY(35px);
    opacity: 0;
}

@keyframes toTop {
    from{
        transform: translateY(35px);
        -webkit-transform: translateY(35px);
        -moz-transform: translateY(35px);
        -ms-transform: translateY(35px);
        -o-transform: translateY(35px);
        opacity: 0;
}
    to{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        opacity: 1;
}
}

.container .text-detail .text-detail-item h4{
   
    font-size: 32px;
    padding: 20px;
    animation:  toTop 1.8s ease-in-out forwards;
    -webkit-animation:  toTop 1.8s ease-in-out forwards;
    animation-delay: .4s;
    transform: translateY(35px);
    -webkit-transform: translateY(35px);
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -o-transform: translateY(35px);

    opacity: 0;

}
.container .text-detail .text-detail-item h4::before{
   content: "";
   width:20px;
   position: absolute;
   margin-top: 20px;
   height:2px;
   background: #fff;
   transform: translateX(-30px);
   -webkit-transform: translateX(-30px);
   -moz-transform: translateX(-30px);
   -ms-transform: translateX(-30px);
   -o-transform: translateX(-30px);
}
.container .text-detail .text-detail-item h4::after{
   width:20px;
   height:2px;
   margin-top: 20px;
   position: absolute;
   content: "";
   background:#fff;
   transform: translateX(5px);
   -webkit-transform: translateX(5px);
   -moz-transform: translateX(5px);
   -ms-transform: translateX(5px);
   -o-transform: translateX(5px);
}

